
@{
    ViewBag.Title = "GetRolesforUserConfirmed";
}

<h2>Get Roles For User</h2>

@if (ViewBag.RolesForThisUSer != null)
{
    <div>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUSer)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

