@model IEnumerable<NAA.Data.NAA_University>

@{
    ViewBag.Title = "GetUniversityList";
}

<h2>List of Universities</h2>

<p>
    @Html.ActionLink("Back to Profile", "ShowUserProfileOnApplicantID", new { ApplicantID = ViewBag.ApplicantID, Controller = "Applicant" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UniversityName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UniversityName)
        </td>
        <td>
            @Html.ActionLink("View Available Courses", "UniversityLogic", new { UniversityID = item.UniversityID, ApplicantID = ViewBag.ApplicantID})
        </td>
    </tr>
}

</table>
