
@{
    ViewBag.Title = "GoFirmErrorMessage";
}

<h2>You cannot go firm on that application</h2>
<p>The reason for the error is either the application being rejected or still pending for an offer</p>


